.base-select-input {
  & > div:first-of-type {
    @apply px-[20px] py-[5px] outline-none hover:border-gray-800 border-gray-800 shadow-none;
    & > div {
      &:first-of-type {
        @apply p-0 m-0;
      }
      &:last-of-type {
        @apply p-0 m-0;

        span {
          @apply hidden;
        }

        div {
          @apply p-0;
          svg {
            @apply fill-gray-600;
          }
        }
      }
    }
  }
  & > div:nth-of-type(2) {
    @apply p-0;
  }
}
